.login-form {
    background-color: rgba(0, 0, 0, 0.4); /* transparentna crna pozadina */
    color: white; /* bela boja slova */
    padding: 20px;
  }
  
  /* stil za input polja i dugme */
  .login-form input,
  .login-form button {
    background-color: white; /* bela pozadina */
    color: black; /* crna boja slova */
    padding: 5px;
    border: none;
    margin-right: 10px;
  }
  
  /* stil za dugme za prijavu */
  .login-form button {
    background-color: white; /* plava pozadina */
    color: rgb(37, 33, 33); /* bela boja slova */
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: rgb(37, 33, 33);
    color: white;
  }
  
  .inpuT {
    padding: 100px;
    height: 40px;
  }
  
  #goBackLabel:hover {
    text-decoration: underline;
    
    font-size : 120%;
  }
  .inpuT.pozadina{
    background-color: red;
  }

  .imena{
    margin: 10px;
   margin-left: auto;
   margin-right: auto;
    color: white;
    font-size: large;
  }

  
  
  .hoverEffect:hover {
    text-decoration: underline; /* Podcrtavanje teksta */
    transform: scale(1.1); /* Povećanje veličine */
  }
  .PovecajEffect:hover{
    transform: scale(1.1); /* Povećanje veličine */
  }
  .mojaKlasa
  {
    display: flex;
    flex-direction: row;
  }
  .Naslov {
    color: white;
    font-size: 24px;
  }